body.release {
	background-color: #ffffff;
}

.container.release
{
	margin-top: 15px;
	background-color: #ffffff;
}

.release ul
{
	padding-left: 15px;
	margin-bottom: 0;
}

.release li
{
	list-style: square;
}