<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>editor_background</key>
	<integer>2822919</integer>
	<key>editor_foreground</key>
	<integer>12079901</integer>
	<key>lines_background</key>
	<integer>1838084</integer>
	<key>lines_foreground</key>
	<integer>6704147</integer>
	<key>name</key>
	<string>Woodfire (Custom)</string>
</dict>
</plist>
